.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}

.searchInput {
  width: 32rem;
  margin-right: 1.5rem;
}

.languageSelect {
  select {
    width: 16rem;
  }
}
