@import 'scss/colors.scss';

.repoListItem {
  width: 35rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a:hover {
    color: $app-green;
  }
}

.repoName {
  margin-bottom: 1rem;
  font-weight: 700;
}

.description {
  color: $app-grey;
}

.counters {
  display: flex;
}

.language {
  font-weight: 700;
  color: $app-dark-green;
}

.counter {
  color: $app-grey;
  background: $app-light-grey;
  border-radius: 2rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin-right: 1.5rem;

  span {
    margin-left: 0.5rem;
  }
}

.footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
